
<label for="first_name">First Name*</label>

<input type="text" id="first_name" name="user[first_name]"
  value="<%= user.first_name %>"><br>

<label for="last_name">Last Name</label>
<input type="text" id="last_name" name="user[last_name]"
  value="<%= user.last_name%>"><br>

<label for="email">Email*</label>
<input type="text" id="email" name="user[email]"
  value="<%= user.email%>"><br>

<label for="school_name">School</label>
<input type="text" id="school_name" name="user[school_name]"
  value="<%= user.school_name%>"><br>

<label for="subject_taught">What Subject do you Teach?</label>
<input type="text" id="subject_taught" name="user[subject_taught]"
  value="<%= user.subject_taught%>"><br>

<label for="grade_taught">What Grade do you Teach?</label>
<input type="text" id="grade_taught" name="user[grade_taught]"
  value="<%= user.grade_taught%>">


