<div class="container">
	<div class="content group">

    <section class="logo-display">
      	 <%= image_tag "testify_logo.png"%><br>

      	 <span class="tag-line">
       	 The simplest way to manage tests.
     	 </span>
    </section>

    <section class="sign-up-form">

    	<form action="<%= users_url %>" method="post">
			
			<label for="username">Username</label>
	    	<input type="text" id="username" name="user[username]"
				 placeholder="Username" ><br>

			<label for="password">Password</label>
	    	<input type="password" id="password" name="user[password]"
				 placeholder="Password"><br>

			<label for="password_confirmation">Password Confirmation</label>
	    	<input type="password" id="password_confirmation"
	    	     name="user[password_confirmation]" 
				 placeholder="Confirm Password"><br><br>

	    	<%= render partial: "shared/csrf" %>

	    	<input type="submit" value="Sign Up" class="sign-up-button">
		
		</form>
    </section>
	
    <section class="log-in-form sign-up-page-toggle">
		
		<form action="<%= sessions_url %>" method="post">
			
		 	<label for="username">Username</label>
		  	<input type="text" id="username" name="user[username]"
		   		placeholder="Username">

		  	<label for="password">Password</label>
		 	<input type="password" id="password" name="user[password]"
		   		placeholder="Password"><br><br>

		  	<%= render partial: "shared/csrf" %>

		  	<input type="submit" value="Log In" class="log-in-button">

		</form>		
    </section>
	
    <section class="divide-bar">
      <div class="bar">
      </div>
    </section>

    <section class="marketing-speak group">
      <div class="features">
        <ul>
          <li>
            <span>Build</span>
            <p>
              Test-ify gives you the tools to easily build the test
              you want. Choose from multiple choice, true or false,
              and short answer questions. The test builder makes it
              simple to add or remove questions, change the order of
              questions, and edit older tests. Test-ify also keeps
              track of the correct answers so you never have to make
              an answer key again.
            </p>
          </li>
          <li>
            <span>Store</span>
            <p>
              Save and store your tests in the cloud! No more searching
              file cabnets or your hard drive for that test you used
              last year. Test-ify keeps them all in one place and makes
              it easy to search for the right test. You can edit last 
              years test or automatically generate a new version of the
              same test. 
            </p>
          </li>
          <li>
            <span>Share</span>
            <p>
              Test-ify makes it easy to share test with other teachers
              so you can give multiple classes the same test. With
              test-ify you no longer have to email the test and answer
              key, simply share it. They will have access to print the 
              test and answer keys without the hassle. 
            </p>
          </li>
        </ul>
      </div>

    </section>

	</div>
</div>