<h1>Welcome <%= @user.username %> </h1>

<%= button_to "Make Test", new_exam_url, method: "get"%>

Your exams:
<ul>
<% @exams.each do |exam| %>
  <li><a href="/exams/<%= exam.id %>">
    Test Name: <%= exam.exam_name %><br>Subject: <%= exam.exam_subject %>,
    Created By: <%= exam.user.username %>, Last Updated: <%= exam.updated_at %>
  </a>
</li><br>
<% end %>
</ul>

