<li class="question_<%= Time.now %>">
	<section class="new-question group" >
	
		<p><%= f.label :question, "Multiple Choice Question" %></p>
		
		<%= f.text_area :title, rows: 2 %>
	    <%= f.hidden_field :_destroy %>
	    <%= link_to "remove", '#', class: "remove_fields" %>
		
		<!--
		<div class="correct-answer">
			<#%= f.fields_for :correct_answers %>
			<#%= f.link_to_add "", :correct_answers, class: "add-correct-answer" %>
		</div>
		-->
			
		<div class="answers">			
			<%= f.fields_for :answers do |builder| %>
				<%= render 'answer_fields', f: builder %>
			<% end %>
			
			<%= link_to_add_fields "Add a answer", f, :answers %>
		</div>
	</section>
</li>