<div class="tags-container">
	<section class="tags">
		<% Tag.all.each do |tag| %>
		  <% html_id = "exam_tag_ids_#{tag.id}" %>
		  <input type="checkbox" name="exam[tag_ids][]" value="<%= tag.id %>" id="<%= 				html_id %>"  <%= "checked" if @exam.tags.include?(tag) %>>
		  <label for="<%= html_id %>"><%= tag.tag_title %></label><br>
		  <% end %>

		  <%= render partial: "grades" %>
		  
	</section>
</div>