<div class="exams-container">

	<section class="search">
		<%= form_tag exams_path, method: "get" do %>

		  <%= label_tag "Test Name:"%>
		  <%= text_field_tag :exam_name, params[:exam_name] %>

		  <%= label_tag "Subject:" %>
		  <%= text_field_tag :subject, params[:subject] %>

		  <%= label_tag "Created By:" %>
		  <%= text_field_tag :created_by, params[:created_by] %>

		  <%= submit_tag "Search", name: nil %>

		<% end %>
	</section>
<ul>
<% @exams.each do |exam| %>
  <li><a href="exams/<%= exam.id %>">
    Test Name: <span class="color"><%= exam.exam_name %></span><br>
	Subject:  <span class="color"><%= exam.exam_subject %></span>,
    Created By:  <span class="color"><%= exam.user.username %></span>,
	Last Updated: <span class="color"><%= exam.updated_at.strftime("%D") %></span>
  </a>
  </li><br>
<% end %>
</ul>

</div>