<h2>Build Test(Exam)</h2>

<form action="<%= exams_url %>" method="post">

  <!-- Test Attributes -->

  <%= render :partial => 'test_attributes' %>


  <!-- Nested Question Attributes -->

  <h1>Questions</h1>

  <label for="exam_question_0_title">1)</label>
  <input type="text" id="exam_question_0_title" name="exam[questions_attributes][0][title]">

     <!-- Double Nested Answer Attributes, through Questions -->
     <label for="question_answer_0_body">a)</label>
     <input type="text" id="question_answer_0_body" name="exam[questions_attributes][0][answers_attributes][0][body]">

  <br>
  <br>
  <br>

  <!-- Tags -->

  Tags
  <br>
  <%= render :partial => 'tags' %>

  <br>

  <!-- Grade Levels -->

  Grade Levels
  <br>
  <%= render :partial => 'grades' %>


  <%= render partial: "shared/csrf" %>
  <br>
  <input type="submit" value="Build Test">

</form>