<div class="test-nav-bar group">
    <ul>
      <li><%= link_to "Save" %></li>
      <li><%= link_to "Holders"%></li>
    </ul>
</div>

<div class="build-test-container">
	<section class="form">
		<%= nested_form_for @exam do |f| %>
		<section class="exam-attr group">
			<ul>
			  <li><%= f.text_field :exam_name, placeholder: "Test Name" %></li>
			  <li><%= f.text_field :exam_subject, placeholder: "Test Subject" %></li>
		   </ul>
		</section>
		
		<%= f.hidden_field :user_id%>
		<%= hidden_field_tag 'exam[user_id]', current_user.id %>

		<%= f.fields_for :questions %>
		<p><%= f.link_to_add "Add a question", :questions %></p>

		<p><%= f.submit "Submit" %></p>
		<% end %>
	</section>
</div>

<%= render partial: "tags" %><br>


