<div class="test-nav-bar group">
    <ul>
      <li><a href="#" id="exam_save">Save</a></li>
    </ul>
</div>

<%= form_for @exam do |f| %>
  <% if @exam.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this survey from being saved:</h2>
      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :test_name %><br />
    <%= f.text_field :exam_name %>
	
	<%= f.label :test_subject %><br>
	<%= f.text_field :exam_subject %>
	
	<%= f.hidden_field :user_id%>
	<%= hidden_field_tag 'exam[user_id]', current_user.id %>
  </div>
  
  <%= f.fields_for :questions do |builder| %>
    <%= render 'question_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Question", f, :questions, :correct_answers, :answers %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


