<h2>Build Test(Exam)</h2>

<form action="<%= exams_url %>" method="post">

  <!-- Test Attributes -->

  <label for="exam_name">Test Name</label>
  <input type="text" id="exam_name" name="exam[exam_name]">

  <label for="exam_subject">Subject</label>
  <input type="text" id="exam_subject" name="exam[exam_subject]">

  <input type="hidden" name="exam[user_id]" value="<%= current_user.id %>">

  <!-- Nested Question Attributes -->

  <h1>Questions</h1>

  <label for="exam_question_0_title">1)</label>
  <input type="text" id="exam_question_0_title" name="exam[questions_attributes][0][title]">

     <!-- Double Nested Answer Attributes, through Questions -->
     <label for="question_answer_0_body">a)</label>
     <input type="text" id="question_answer_0_body" name="exam[questions_attributes][0][answers_attributes][0][body]">

  <br>
  <label for="exam_question_1_title">2)</label>
  <input type="text" id="exam_question_1_title" name="exam[questions_attributes][2][title]">

  <br>
  <label for="exam_question_2_title">3)</label>
  <input type="text" id="exam_question_2_title" name="exam[questions_attributes][3][title]">

  <br>
  <br>
  <!-- Nested Tag Attributes-->

  <% @tags.each do |tag| %>
  <% html_id = "exam_tag_ids_#{tag.id}" %>
  <input type="checkbox" name="exam[tag_ids][]" value="<%= tag.id %>" id="<%= html_id %>">
  <label for="<%= html_id %>"><%= tag.tag_title %></label>
  <% end %>


  <%= render partial: "shared/csrf" %>
  <br>
  <input type="submit" value="Build Test">

</form>