<div class="test-nav-bar group">
  <p><%= link_to "Print (PDF)", exam_url(@exam, format: "pdf")%></p>
  <ul>
    <li><%= link_to "Edit", edit_exam_url %></li>
    <li><%= link_to "Delete", exam_url(@exam), method: "delete"%></li>
  </ul>
</div>

<div class="test-show-content ">

  <p class="exam_name"><%= @exam.exam_name %></p>
  <p class="exam_subject"><strong>Subject:</strong> <%= @exam.exam_subject %></p>

  <section class="exam_questions">
      <% x = 1 %>
	  
     <!-- Multiple Choice Questions Display --> 
     <% @exam.questions.each do |q| %>
    	<section class="question">
     	    <%= x %>)<%= q.title %>
      	 	<% x += 1%>
   	 	</section>
		

		<!-- Multiple Choice Answers Display -->
    	<section class="question_answers">
     	   	<% j = 0 %>
      	  	<% q.answer_orders.each do |answer| %>
        	<section class="answer">
          	 	<%= @letters[j] %>)<%= answer.content %>
         	  	<% j += 1 %>
        	</section>
      	  	<% end %>
   	 	</section>
    <% end %>
	
	<!-- True/False Questions Display -->
	<% @exam.true_false_questions.each do |q| %>
		<% unless q %>
			<section class="question">
				<%= x %>)<%= q.content %>
				<% x += 1 %>
		
				<!-- True/False Answers Display -->
				<section class="question_answers">
					<p>___ True ___ False</p>
				</section>
			</section>
		<% end %>
	<% end %>

	<!-- Essay Questions Display -->
	<% @exam.essay_questions.each do |q| %>
		<% unless q %>
			<section class="question">
				<%= x %>)<%= q.content%>
				<% x += 1 %>
			
				<!-- Essay Question Answer Display -->
				<section class="question_answers">
					<p>Write answer in space provided</p>
				</section>
			</section>
		<% end %>
	<% end %>
	
  </section><!-- exam_questions section closure-->

 
</div>

<div class="test-info">
	<ul>
		<li>
			<section class="exam_tags">
			  <ul>
			    <li class="tag">Tags</li>
			    <% @exam.tags.each do |tag| %>
			      <li><%= tag.tag_title %></li>
			    <% end %>
			  </ul>
			</section>
		</li>
		<li>
			<section class="exam_grade_level">
			  <ul>
			    <% @exam.grade_levels.each do |grade| %>
			      <li><%= grade.grade_level %><br> grade</li>
			    <% end %>
			  </ul>
			</section>
		</li>
	</ul>
</div>

