

<h3>Show Test(Exam) <%= button_to "Edit", edit_exam_url(@exam), method: "get"%><%= button_to "Delete", exam_url(@exam), method: "delete"%></h3>

<h4>Title: <%= @exam.exam_name %></h4>
<h5>Subject: <%= @exam.exam_subject %></h5>

<br>
<h4>Questions</h4>
<br>
<% x = 1 %>
<% @exam.questions.each do |q| %>

<%= x %>)<%= q.title %>
<% x += 1%>

<h5>Answers</h5>
<% q.answers.each do |answer| %>
<%= answer.body %>
<br>
<% end %>
<br>

<% end %>

<h4>Tags</h4>
<% @exam.tags.each do |tag| %>
<%= tag.tag_title %>
<% end %>
<br>

<h4>Grade Levels</h4>
<% @exam.grade_levels.each do |grade| %>
<%= grade.grade_level %>
<% end %>
