<div class="test-nav-bar group">
  <p><%= link_to "Print (PDF)", exam_url(@exam, format: "pdf")%></p>
  <ul>
    <li><%= link_to "Edit", edit_exam_url %></li>
    <li><%= link_to "Delete", exam_url(@exam), method: "delete"%></li>
  </ul>
</div>

<div class="test-show-content ">

  <p class="exam_name"><%= @exam.exam_name %></p>
  <p class="exam_subject"><strong>Subject:</strong> <%= @exam.exam_subject %></p>

  <section class="exam_questions">
    <% x = 1 %>
    <% @exam.questions.each do |q| %>
    <section class="question">
      <%= x %>)<%= q.title %>
      <% x += 1%>
    </section>

    <section class="question_answers">
      <%= @letters[0] %>)<%= q.correct_answers.first.body %>
      <% j = 1 %>
      <% q.answers.each do |answer| %>
        <section class="answer">
          <%= @letters[j] %>)<%= answer.body %>
          <% j += 1 %>
        </section>
      <% end %>
    </section>

    <% end %>
  </section>

</div>

<div class="test-info">
	<ul>
		<li>
			<section class="exam_tags">
			  <ul>
			    <li class="tag">Tags</li>
			    <% @exam.tags.each do |tag| %>
			      <li><%= tag.tag_title %></li>
			    <% end %>
			  </ul>
			</section>
		</li>
		<li>
			<section class="exam_grade_level">
			  <ul>
			    <% @exam.grade_levels.each do |grade| %>
			      <li><%= grade.grade_level %><br> grade</li>
			    <% end %>
			  </ul>
			</section>
		</li>
	</ul>
</div>