<!DOCTYPE html>
<html>
<head>
  <title>Testify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag	"nav" %>
  <%= stylesheet_link_tag	"sign_up" %>


</head>
<body>
	<header>
		<nav class="group">
			<div class="logo">
				<%= image_tag "testify_logo.png"%>
			</div>
			<ul class="navigation">
				<li><a href="#">LOG IN</a></li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<div class="content">

			<%= yield %>
		</div>
	</div>


<%= render partial: "shared/log_in_out" %>
<% unless current_user.nil? %>
  Current User = <%= current_user.username %>
<% end %>

</body>
</html>
