<!DOCTYPE html>
<html>
<head>
  <title>Testify</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_user.nil? %>
    Current User = <%= current_user.username %>
  <% end %>

<%= render partial: "shared/log_in_out" %>
<%= yield %>

</body>
</html>
